<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styling.css') }}">
    <title>Profil</title>
</head>

<body>

    <div class="stranka">
        {% block content %}
        <h1 class="title">{% block title %} Mongo {% endblock %}</h1>
        <div class="content">
            {% for kontakty in kontakt %}
            <div class="users">
                <p><b>username:</b> {{kontakty.username}} | <b>Telefon:</b> {{kontakty.telefon}} | <b>Město:</b>
                    {{kontakty.mesto}} | <b>Ulice:</b>
                    {{kontakty.ulice}} |
                    <b>Číslo popisné:</b> {{kontakty.cislo_popisne}}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>


    <div class="sidebar" id="left">
        <ul>
            <li><a href="/" class="mainpage">Hlavní stránka</a></li>
            <li><a href="profil" class="profil_button">Profil</a></li>
            <li><a href="mysql" class="mysql_button">Mysql</a></li>
            <li><a href="mongo_db" class="mongo_form_button">Mongo Reg</a></li>
            <li><a href="mongo_data" class="mongo_button">Mongo Data</a></li>
            <li><a href="logout" class="logout_button">Odhlásit</a></li>

        </ul>
    </div>
</body>


</body>

</html>
'''%(p)