<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styling.css') }}">
    <title>Profil</title>
</head>

<body>

    <div class="stranka">
        <h1>
            Vítej {{current_user.name}}!
        </h1>
        <div class="udaje_profil">
            <div class="profile-img">
                <img src="static/styles/images/user.png" alt="profile-img">
            </div>
            <div class="udaje">
                <p><b>Uživatelské jméno:</b> {{current_user.username}}</p>
                <p><b>Jméno:</b> {{current_user.name}}</p>
                <p><b>Příjmení:</b> {{current_user.surname}}</p>
            </div>
        </div>
    </div>


    <div class="sidebar" id="left">
        <ul>
            <li><a href="/" class="mainpage">Hlavní stránka</a></li>
            <li><a href="profil" class="profil_button">Profil</a></li>
            <li><a href="mysql" class="mysql_button">Mysql</a></li>
            <li><a href="logout" class="logout_button">Odhlásit</a></li>
        </ul>
    </div>
</body>


</body>

</html>