body {
    background-image: url("templates/images/template_bg.jpg");
    background-position: center;
    text-align: center;
}

li a {
    width: 60px;
    padding: 8px 16px;
    text-decoration: none;
    color: aliceblue;
}

li a:hover {
    color: azure;
}

ul {
    padding: 0px 0px;
}

.stranka {
    width: 100%;
    text-align: center;
    height: 100px;
    float: left;
}

.sidebar {
    margin-top: 20px;
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
    float: left;
    text-align: left;
    background-image: url("templates/images/sidebar.jpg");
}


h1 {
    color: rgb(88, 173, 145);
    text-shadow: 5px 4px 5px;
    font-size: 70px;
    -webkit-text-stroke: 2px black;
}

h2 {
    color: black;
    -webkit-text-stroke: 2px rgb(241, 15, 15);
}

p {
    color: black;
    font-size: 30px;
    display: block;
    margin-left: 200px;
}