<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styling.css') }}">
  <title>Vitej</title>
</head>

<body>

  <!--Stranka-->
  <div class="stranka">
    <h1>Vítej v seminární práci</h1>
    <p>Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
      Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br></p>
  </div>
  <!--Sidebar-->
  <div class="sidebar">
    <ul>
      <li><a href="/" class="mainpage">Hlavní stránka</a></li>
      <li><a href="profil" class="profil_button">Profil</a></li>
      <li><a href="mysql" class="mysql_button">Mysql</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="logout" class="logout_button">Odhlásit</a></li>
      {% endif %}
      {% if current_user.is_not_authenticated %}
      <li><a href="login" class="login_button">Přihlášení</a></li>
      <li><a href="register" class="register_button">Registrace</a></li>
      {% endif %}
    </ul>
  </div>
</body>

</html>