<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styling.css') }}">
  <title>Vitej</title>
</head>

<body>

  <!--Stranka-->
  <div class="stranka">
    <h1>Vítej v seminární práci</h1>
    <p>Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br>
       Ahoj, toto je náš projekt, který jsme připravili na předmět NoSQL<br></p>
  </div>
  <!--Sidebar-->
  <div class="sidebar">
    <ul>
      <li><a href="" class="mainpage">Hlavní stránka</a></li> <!--Jak se to da do sidebaru v login/register?-->
      <li><a href="login" class="login_button">Přihlášení</a></li>
      <li><a href="register" class="register_button">Registrace</a></li>
    </ul>
  </div>
</body>

</html>